In [2]:
import numpy as np

## 1. Extract first week's temperatures from a 30-day dataset

In [3]:
temps = np.random.randint(15, 40, 30)
temps[:7]

array([19, 23, 29, 20, 21, 24, 39], dtype=int32)

## 2. Slice monsoon (day 180-260) from 365-day rainfall dataset

In [4]:
monsoon = np.arange(365)
monsoon[180:261]

array([180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192,
       193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205,
       206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
       219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231,
       232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244,
       245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
       258, 259, 260])

## 3. Get weekends (rows 5 and 6) from 7x24 energy dataset

In [8]:
energy = np.random.uniform(40, 202, [7, 24])
energy[5:7]

array([[152.19935764, 153.37747659, 141.384396  ,  77.8344918 ,
         77.59304881,  69.84279729, 137.26136508, 116.48162474,
        169.81316326,  57.93522832, 105.10082211, 172.53668589,
        197.13738872,  62.6633288 ,  78.37630912, 102.4624979 ,
        112.28602264,  56.31056496,  65.52260481, 102.89289367,
        139.63819223,  50.18161048,  79.55153712,  72.41725461],
       [132.08451365,  96.32894975, 186.89220575,  83.70059907,
        133.4136107 ,  92.25904371, 107.72995402,  87.71063196,
         82.88298694, 148.70807926, 145.66898919, 194.35602059,
        127.39343249,  75.68804996,  77.22149389, 146.43285789,
        146.34041081, 162.07475102,  42.11541986, 134.16471956,
         46.60458191, 153.9973803 , 131.33617105,  53.3226429 ]])

## 4. Reverse a 12-month revenue array

In [14]:
rev = np.linspace(100, 1000, 12)
print(rev)
rev[::-1]

[ 100.          181.81818182  263.63636364  345.45454545  427.27272727
  509.09090909  590.90909091  672.72727273  754.54545455  836.36363636
  918.18181818 1000.        ]

array([1000.        ,  918.18181818,  836.36363636,  754.54545455,
        672.72727273,  590.90909091,  509.09090909,  427.27272727,
        345.45454545,  263.63636364,  181.81818182,  100.        ])

## 5. Extract week-2 closing prices from stock matrix

In [20]:
rev = np.linspace(100, 2000, 28).reshape(4, 7)
print(rev)
rev[1, [-1]]

[[ 100.          170.37037037  240.74074074  311.11111111  381.48148148
   451.85185185  522.22222222]
 [ 592.59259259  662.96296296  733.33333333  803.7037037   874.07407407
   944.44444444 1014.81481481]
 [1085.18518519 1155.55555556 1225.92592593 1296.2962963  1366.66666667
  1437.03703704 1507.40740741]
 [1577.77777778 1648.14814815 1718.51851852 1788.88888889 1859.25925926
  1929.62962963 2000.        ]]

array([1014.81481481])

## 6. Extract every alternate hour from traffic dataset

In [21]:
dayta = np.random.uniform(20, 100, 24)
print(dayta)
dayta[::2]

[78.68626348 57.73047168 42.48316015 68.17076574 78.62113514 21.88559864
 37.26272295 64.84389671 99.15457696 93.30787752 93.64911233 76.74633547
 71.27181113 81.08438924 93.26710159 58.8185873  71.5199761  34.55798026
 50.41160559 46.70775433 43.2450685  94.61286568 67.69766515 54.52957135]

array([78.68626348, 42.48316015, 78.62113514, 37.26272295, 99.15457696,
       93.64911233, 71.27181113, 93.26710159, 71.5199761 , 50.41160559,
       43.2450685 , 67.69766515])

## 7. Extract only humidity column from 1000x3 weather dataset

In [24]:
# temp, humidity, wind
weather = np.random.randint(0, 100, size=(1000, 3))
print(weather)
weather[:, 1]

[[56 97 30]
 [58 86  6]
 [40 33 24]
 ...
 [47 40 29]
 [53 27 10]
 [13 46 50]]

array([97, 86, 33, 84, 14, 67, 68, 93,  3, 58, 93, 77, 81, 16, 62, 34, 32,
       17, 90, 64, 92, 51,  9, 68, 66, 14, 54,  0, 66, 44, 39, 96, 75, 82,
       12, 41, 32, 52, 82, 42,  1, 34, 70, 34, 74,  0, 11, 73, 15, 92, 50,
       74, 15, 24, 96, 50, 95, 92, 78, 46, 40, 56, 16, 97, 48, 77,  5, 37,
       53,  3, 11,  6, 55, 42, 29, 13, 64, 92, 68, 96, 81, 68,  6, 54, 99,
       84, 27, 25, 44, 83, 57, 24, 48, 21, 97, 54, 39, 80, 74, 71, 20, 96,
       49, 20, 40, 12, 46, 93,  4,  3, 84, 72, 66, 94,  2,  7, 69,  5, 59,
       84, 33, 48, 13, 46, 19, 44, 87, 80, 35, 27, 51, 99, 19, 76, 77, 11,
       31, 79, 97,  7, 90, 38, 57, 58, 93, 21, 64,  7,  1, 32, 84, 97, 82,
       54, 96, 99, 37, 80, 60, 22, 59, 83,  7, 73, 96, 66, 16, 60, 76, 61,
       22, 17, 88, 20, 20, 73, 10, 68,  2,  6, 69, 81, 22, 56, 71, 21, 21,
       97,  3, 71, 25, 88, 88, 67, 79, 78, 78, 76, 82, 10, 59, 82, 22, 21,
       80, 67, 27, 39, 47, 56, 91, 98, 62, 30, 30, 39, 37,  7, 22, 63, 68,
       70,  3, 89, 45, 58, 28, 40,  6, 24, 14, 61, 81, 63, 73, 69, 60, 65,
       89, 61, 49, 13, 45, 79, 57, 11, 44, 11, 46, 11, 23,  9, 19, 41, 77,
       90, 62, 79, 28, 23, 85, 61, 30, 40, 49, 99,  6, 15, 40, 90, 35, 24,
       84, 85, 30,  1, 55, 86, 86, 77, 26, 85, 67, 61, 50, 65,  3, 26, 80,
       16,  4, 50, 17, 67, 61, 95, 76,  5, 56, 86, 72, 49, 21, 12, 40,  5,
       50, 33, 42, 91, 58, 21, 70,  6, 79, 58, 40,  2, 61, 57,  1, 40, 97,
       49, 57, 54, 95, 29, 99, 99, 17, 31, 50, 58,  5,  2, 32, 27, 72,  0,
       88, 84, 71, 76, 40, 45, 29, 74, 92, 85, 99, 63, 36, 32,  5, 76, 80,
       12, 16,  3, 30,  7, 98, 48, 93, 74, 67, 12, 34, 59, 60, 35, 68, 92,
       87, 25, 94, 12, 63, 17,  6, 22, 24, 36, 78, 37, 55, 43, 35, 20, 62,
       60, 70, 93, 19, 17, 97, 38, 62, 75, 19, 30, 13, 69, 50, 15, 91, 77,
       35, 97, 49, 20,  0, 97, 89, 15, 29, 39, 96, 57,  1, 15,  4, 95, 44,
       55, 28, 90,  6, 27,  7, 74, 81, 27, 93, 49, 46, 98, 76, 86, 75, 25,
       24, 85, 52, 89, 59, 93, 38, 97, 99, 39, 37, 98, 27, 18, 17, 16, 58,
       89, 95, 47, 16, 35, 43, 28, 26, 49,  1,  2, 91, 41, 47, 85, 38, 72,
       30, 66, 99, 58, 36, 53, 91,  4, 74, 69, 99, 87, 10, 20, 58, 63, 10,
       83, 79, 72, 10, 49, 24, 47, 42, 45, 78, 53,  6, 72, 12, 86, 49, 21,
       39, 25, 75, 55, 50, 97, 27, 44, 50, 23, 90, 25, 14, 39, 98, 53, 82,
       25, 59, 65,  6, 62, 42, 39, 75, 46, 82, 30, 95, 52, 28,  5, 46, 48,
       86, 96, 78, 81, 56, 40, 79, 69, 45, 87, 74, 23, 80, 54, 57, 31, 39,
       58, 70,  5, 45, 24, 61, 33, 24, 97, 11, 55, 70, 28, 18, 56, 82,  1,
       23, 44, 93, 53, 21, 40, 73, 35, 43, 50,  7, 26, 31, 43, 76, 42, 88,
       84, 64, 44, 61, 49, 88, 26, 40, 99, 40, 98, 79, 28, 62, 48, 39, 83,
       48, 95, 93, 13, 54, 39, 15, 80,  8, 10, 73, 14, 35, 76, 16, 83, 81,
       92, 12, 57, 14, 40, 60, 97, 47, 81, 43, 16, 93,  3, 14, 26,  5, 95,
       54, 71, 15, 31, 97, 85, 25,  2, 17, 15, 83, 30,  9, 24, 81, 85, 35,
       69, 66, 33,  3, 47, 42, 90, 71, 17, 88, 68, 28, 15, 50, 42, 20, 76,
       58, 94, 37, 95, 73, 10,  3, 77, 58, 61,  6, 61, 31, 23, 98, 72, 71,
       84,  8, 19, 86, 50, 13, 97, 18, 32, 83, 13, 23, 19, 44,  5, 92, 42,
       58,  1, 75, 92, 73, 86, 53, 44, 83, 82, 82, 41, 71, 99, 31, 29,  9,
       52, 25, 99, 99, 91, 69, 20, 37, 97, 56, 69, 78, 50, 16, 78, 21, 55,
       61, 95, 73,  0, 81, 84, 14, 30,  8, 81, 13, 99, 80, 20,  8, 75, 86,
       74, 62, 85, 97, 34, 95, 61, 86, 40, 32, 82, 56, 58, 63, 63, 63, 49,
       33, 25, 36, 71, 26, 69,  1, 27, 72, 10, 49, 71, 68, 11, 21, 18,  9,
        2, 86, 79, 82, 63, 20, 37, 65, 67, 64, 98,  3, 94, 21, 54, 81, 30,
       50, 24, 40, 51, 95,  2, 90,  9, 59, 22,  6,  3, 62, 26, 43, 90, 65,
       34, 81, 30, 44, 90, 72, 33, 77, 46,  2, 33, 43, 19, 57, 25, 62, 68,
       39, 67, 53,  2, 62, 68, 75, 14, 15, 39, 65, 78, 57, 12, 88, 74, 59,
       88, 25, 60, 71, 69, 33, 10,  1, 75,  8, 45, 29,  6, 12, 55, 38, 62,
       71, 98,  5, 55,  0, 90, 32, 48, 37, 24, 85, 44, 65,  7, 36, 34, 66,
       58, 17, 77, 66, 80, 58, 80, 90, 59, 41, 45,  7, 99, 96, 66, 96, 21,
       44, 77, 43,  7, 75, 52, 99, 98, 27, 17, 31, 51, 41, 85, 32, 27, 22,
       82, 82,  7, 43, 19, 94, 74, 21, 91,  8, 89, 84, 62,  6, 30, 60, 24,
       23, 87, 14, 75, 88, 33,  5, 70, 65, 68, 33, 41, 65, 76, 43, 29, 91,
        8, 28, 34, 65, 94, 95, 12, 60, 27, 91, 98, 90, 30, 13, 15, 63, 84,
       47, 70, 89, 44, 36,  9, 54, 69, 92, 61, 49, 40, 27, 46],
      dtype=int32)

## 8. Replace negative sensor readings with 0 using slicing.

In [25]:
sensor = np.array([12, -7, 5, 0, -3, 19, 8, -12, 4, 15])
sensor[sensor<0] = 0
sensor

array([12,  0,  5,  0,  0, 19,  8,  0,  4, 15])

## 9. Select middle 10% rows from a dataset

In [32]:
data = np.random.rand(100)
rows = data.shape[0]
half = 0.10 / 2
start = int(rows * (0.5 - half))
end   = int(rows * (0.5 + half))
data[start:end]

array([0.36117533, 0.35801072, 0.80965993, 0.43487277, 0.41296951,
       0.04030523, 0.36677043, 0.40995695, 0.56453028, 0.66153656])

## 10. Crop a 50x50 image to its center 20x20 reigon

In [49]:
img = np.arange(1, 2501).reshape(50, 50)
start = int((50-20)/2)
crop1 = img[start:, start:]
crop2 = crop1[:20, :20]
crop2

array([[ 766,  767,  768,  769,  770,  771,  772,  773,  774,  775,  776,
         777,  778,  779,  780,  781,  782,  783,  784,  785],
       [ 816,  817,  818,  819,  820,  821,  822,  823,  824,  825,  826,
         827,  828,  829,  830,  831,  832,  833,  834,  835],
       [ 866,  867,  868,  869,  870,  871,  872,  873,  874,  875,  876,
         877,  878,  879,  880,  881,  882,  883,  884,  885],
       [ 916,  917,  918,  919,  920,  921,  922,  923,  924,  925,  926,
         927,  928,  929,  930,  931,  932,  933,  934,  935],
       [ 966,  967,  968,  969,  970,  971,  972,  973,  974,  975,  976,
         977,  978,  979,  980,  981,  982,  983,  984,  985],
       [1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026,
        1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035],
       [1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076,
        1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085],
       [1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126,
        1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135],
       [1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176,
        1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185],
       [1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226,
        1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235],
       [1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
        1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285],
       [1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326,
        1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335],
       [1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376,
        1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385],
       [1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426,
        1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
       [1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476,
        1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485],
       [1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526,
        1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535],
       [1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576,
        1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585],
       [1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626,
        1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635],
       [1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676,
        1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685],
       [1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726,
        1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735]])